<ng-include src="'app/components/alert.html'"></ng-include>
<form class="form-horizontal">
    <fieldset>
        <legend>Dados Pessoais</legend>
        <div class="form-group">
            <label class="col-sm-2 control-label">Nome</label>
            <div class="col-sm-7">
                <ng-include src="'app/components/consultar.html'"></ng-include>
            </div>
        </div>

        <div class="form-group">
            <label for="dataNascimento" class="col-sm-2 control-label">Data de Nascimento</label>
            <div class="col-sm-3">
                <input type="date" class="form-control" id="dataNascimento" ng-model="entrevista.dataNascimento">
            </div>

            <label for="genero" class="col-sm-1 control-label">Gênero</label>
            <div class="col-sm-3">
                <select class="form-control" id="genero" ng-model="entrevista.genero">
                    <option ng-repeat="i in possiveisGeneros" ng-value="i.value">{{i.label}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="naturalidade" class="col-sm-2 control-label">Naturalidade</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="naturalidade" ng-model="entrevista.naturalidade">
            </div>

            <label for="nacionalidade" class="col-sm-1 control-label">Nacionalidade</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="nacionalidade" ng-model="entrevista.nacionalidade">
            </div>
        </div>

        <div class="form-group">
            <label for="estadoCivil" class="col-sm-2 control-label">Estado Civil</label>
            <div class="col-sm-3">
                <select class="form-control" id="estadoCivil" ng-model="entrevista.estadoCivil">
                    <option ng-repeat="i in possiveisEstadosCivis" ng-value="i.value">{{i.label}}</option>
                </select>
            </div>

            <label for="escolaridade" class="col-sm-1 control-label">Escolaridade</label>
            <div class="col-sm-3">
                <select class="form-control" id="escolaridade" ng-model="entrevista.escolaridade">
                    <option ng-repeat="i in possiveisEscolaridades" ng-value="i.value">{{i.label}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="nomePai" class="col-sm-2 control-label">Nome do Pai</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="nomePai" ng-model="entrevista.nomePai">
            </div>
        </div>

        <div class="form-group">
            <label for="nomeMae" class="col-sm-2 control-label">Nome da Mãe</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="nomeMae" ng-model="entrevista.nomeMae">
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Dados de Endereço</legend>

        <div class="form-group">
            <label for="logradouro" class="col-sm-2 control-label">Logradouro</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="logradouro" ng-model="entrevista.logradouro">
            </div>

            <label for="numero" class="col-sm-1 control-label">Número</label>
            <div class="col-sm-1">
                <input type="text" class="form-control" id="numero" ng-model="entrevista.numero">
            </div>
        </div>

        <div class="form-group">
            <label for="cep" class="col-sm-2 control-label">CEP</label>
            <div class="col-sm-3">
                <div class="input-group">
                    <input type="text" id="cep" class="form-control" ng-model="entrevista.cep"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="buscarCep()">
                            <span class="glyphicon glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>

            <label for="estado" class="col-sm-1 control-label">Estado</label>
            <div class="col-sm-3">
                <select class="form-control" id="estado" ng-model="entrevista.estado">
                    <option ng-repeat="i in estados" ng-value="i.value">{{i.label}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="bairro" class="col-sm-2 control-label">Bairro</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="bairro" ng-model="entrevista.bairro">
            </div>

            <label for="cidade" class="col-sm-1 control-label">Cidade</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="cidade" ng-model="entrevista.cidade">
            </div>
        </div>

        <div class="form-group">
            <label for="residencial" class="col-sm-2 control-label">Telefone Residencial</label>
            <div class="col-sm-3">
                <input type="tel" class="form-control" id="residencial" ng-model="entrevista.telefoneResidencial">
            </div>

            <label for="comercial" class="col-sm-1 control-label">Telefone Comercial</label>
            <div class="col-sm-3">
                <input type="tel" class="form-control" id="comercial" ng-model="entrevista.telefoneComercial">
            </div>
        </div>

        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-7">
                <input type="email" class="form-control" id="email" ng-model="entrevista.email">
            </div>
        </div>

    </fieldset>

    <fieldset>
        <legend>Profissão</legend>
        <div class="form-group">
            <label for="trabalha" class="col-sm-2 control-label">Trabalha?</label>
            <div class="radio" id="trabalha">
                <label><input type="radio" name="trabalha" value="sim" ng-model="entrevista.trabalha">Sim</label>
                <label><input type="radio" name="trabalha" value="nao" ng-model="entrevista.trabalha">Não</label>
            </div>
        </div>

        <div class="form-group">
            <label for="nomeEmpresa" class="col-sm-2 control-label">Nome da Empresa</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="nomeEmpresa" ng-model="entrevista.nomeEmpresa">
            </div>

            <label for="tempoServico" class="col-sm-1 control-label">Tempo de Serviço</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="tempoServico" ng-model="entrevista.tempoServico">
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend></legend>
        <div class="form-group">
            <label for="motivoCnh" class="col-sm-2 control-label">Por que pretende tirar a CNH?</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="motivoCnh" ng-model="entrevista.motivoCnh">
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Dados da Saúde</legend>

        <div class="form-group">
            <label for="temProblemaSaude" class="col-sm-2 control-label">Você tem problemas de saúde?</label>
            <div class="radio" id="temProblemaSaude">
                <label><input type="radio" name="temProblemaSaude" value="sim" ng-model="entrevista.temProblemaSaude">Sim</label>
                <label><input type="radio" name="temProblemaSaude" value="nao" ng-model="entrevista.temProblemaSaude">Não</label>
                <label><input type="radio" name="temProblemaSaude" value="asVezes" ng-model="entrevista.temProblemaSaude">Às Vezes</label>
            </div>
        </div>

        <div class="form-group">
            <label for="senteFadiga" class="col-sm-2 control-label">Você sente fadiga e/ou cansaço?</label>
            <div class="radio" id="senteFadiga">
                <label><input type="radio" name="senteFadiga" value="sim" ng-model="entrevista.senteFadiga">Sim</label>
                <label><input type="radio" name="senteFadiga" value="nao" ng-model="entrevista.senteFadiga">Não</label>
                <label><input type="radio" name="senteFadiga" value="asVezes" ng-model="entrevista.senteFadiga">Às Vezes</label>
            </div>
        </div>

        <div class="form-group">
            <label for="trabalhaNoturno" class="col-sm-2 control-label">Trabalha em período noturno?</label>
            <div class="radio" id="trabalhaNoturno">
                <label><input type="radio" name="trabalhaNoturno" value="sim" ng-model="entrevista.trabalhaNoturno">Sim</label>
                <label><input type="radio" name="trabalhaNoturno" value="nao" ng-model="entrevista.trabalhaNoturno">Não</label>
                <label><input type="radio" name="trabalhaNoturno" value="asVezes" ng-model="entrevista.trabalhaNoturno">Às Vezes</label>
            </div>
        </div>

        <div class="form-group">
            <label for="bebidaAlcoolica" class="col-sm-2 control-label">Você toma bebida alcoólica?</label>
            <div class="radio" id="bebidaAlcoolica">
                <label><input type="radio" name="bebidaAlcoolica" value="sim" ng-model="entrevista.bebidaAlcoolica">Sim</label>
                <label><input type="radio" name="bebidaAlcoolica" value="nao" ng-model="entrevista.bebidaAlcoolica">Não</label>
                <label><input type="radio" name="bebidaAlcoolica" value="asVezes" ng-model="entrevista.bebidaAlcoolica">Às Vezes</label>
            </div>
        </div>

        <div class="form-group">
            <label for="bebeuOntem" class="col-sm-2 control-label">Você bebeu álcool ontem a noite ou hoje de manhã?</label>
            <div class="radio" id="bebeuOntem">
                <label><input type="radio" name="bebeuOntem" value="sim" ng-model="entrevista.bebeuOntem">Sim</label>
                <label><input type="radio" name="bebeuOntem" value="nao" ng-model="entrevista.bebeuOntem">Não</label>
            </div>
        </div>

        <div class="form-group">
            <label for="tomaMedicamentos" class="col-sm-2 control-label">Você toma medicamentos?</label>
            <div class="radio" id="tomaMedicamentos">
                <label><input type="radio" name="tomaMedicamentos" value="sim" ng-model="entrevista.tomaMedicamentos">Sim</label>
                <label><input type="radio" name="tomaMedicamentos" value="nao" ng-model="entrevista.tomaMedicamentos">Não</label>
                <label><input type="radio" name="tomaMedicamentos" value="asVezes" ng-model="entrevista.tomaMedicamentos">Às Vezes</label>
            </div>
        </div>

        <div class="form-group">
            <label for="ordemMedica" class="col-sm-2 control-label">Os medicamentos são por ordem médica?</label>
            <div class="radio" id="ordemMedica">
                <label><input type="radio" name="ordemMedica" value="sim" ng-model="entrevista.ordemMedica">Sim</label>
                <label><input type="radio" name="ordemMedica" value="nao" ng-model="entrevista.ordemMedica">Não</label>
            </div>
        </div>

        <div class="form-group">
            <label for="desdeQuandoMedicamento" class="col-sm-2 control-label">Desde quando?</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="desdeQuandoMedicamento" ng-model="entrevista.desdeQuandoMedicamento">
            </div>

            <label for="quaisMedicamentos" class="col-sm-1 control-label">Quais?</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="quaisMedicamentos" ng-model="entrevista.quaisMedicamentos">
            </div>
        </div>

        <div class="form-group">
            <label for="medicamentosOntem" class="col-sm-2 control-label">Você tomou medicamento ontem a noite ou hoje cedo?</label>
            <div class="radio col-sm-2" id="medicamentosOntem">
                <label><input type="radio" name="medicamentosOntem" value="sim" ng-model="entrevista.medicamentosOntem">Sim</label>
                <label><input type="radio" name="medicamentosOntem" value="nao" ng-model="entrevista.medicamentosOntem">Não</label>
            </div>

            <label for="quaisMedicamentosTomou" class="col-sm-1 control-label">Quais?</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="quaisMedicamentosTomou" ng-model="entrevista.quaisMedicamentosTomou">
            </div>
        </div>

        <div class="form-group">
            <label for="possuiDeficiencia" class="col-sm-2 control-label">Possui algum tipo de deficiência?</label>
            <div class="col-sm-3">
                <select class="form-control" id="possuiDeficiencia" ng-model="entrevista.possuiDeficiencia">
                    <option ng-repeat="i in possiveisDeficiencias" ng-value="i.value">{{i.label}}</option>
                </select>
            </div>

            <label for="possuiDeficienciaOutras" class="col-sm-1 control-label">Outras?</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="possuiDeficienciaOutras" ng-model="entrevista.possuiDeficienciaOutras">
            </div>
        </div>

        <div class="form-group">
            <label for="possuiDoenca" class="col-sm-2 control-label">Possui algum tipo de doença?</label>
            <div class="col-sm-3">
                <select class="form-control" id="possuiDoenca" ng-model="entrevista.possuiDoenca">
                    <option ng-repeat="i in possiveisDoencas" ng-value="i.value">{{i.label}}</option>
                </select>
            </div>

            <label for="possuiDoencaOutras" class="col-sm-1 control-label">Outras?</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="possuiDoencaOutras" ng-model="entrevista.possuiDoencaOutras">
            </div>
        </div>

        <div class="form-group">
            <label for="problemaPsicologico" class="col-sm-2 control-label">Apresenta algum problema psicológico?</label>
            <div class="col-sm-3">
                <select class="form-control" id="problemaPsicologico" ng-model="entrevista.problemaPsicologico">
                    <option ng-repeat="i in possiveisProblemasPsicologicos" ng-value="i.value">{{i.label}}</option>
                </select>
            </div>

            <label for="problemaPsicologicoOutras" class="col-sm-1 control-label">Outras?</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="problemaPsicologicoOutras" ng-model="entrevista.problemaPsicologicoOutras">
            </div>
        </div>

        <div class="form-group">
            <label for="problemaPsicologicoFaleARespeito" class="col-sm-2 control-label">Fale a Respeito:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="problemaPsicologicoFaleARespeito" ng-model="entrevista.problemaPsicologicoFaleARespeito">
            </div>
        </div>

        <div class="form-group">
            <label for="tratamentoMedicoPsicologico" class="col-sm-2 control-label">Você já realizou algum tratamento médico e/ou psicológico?</label>
            <div class="radio" id="tratamentoMedicoPsicologico">
                <label><input type="radio" name="tratamentoMedicoPsicologico" value="sim" ng-model="entrevista.tratamentoMedicoPsicologico">Sim</label>
                <label><input type="radio" name="tratamentoMedicoPsicologico" value="nao" ng-model="entrevista.tratamentoMedicoPsicologico">Não</label>
            </div>
        </div>

        <div class="form-group">
            <label for="tratamentoMedicoPsicologicoFaleARespeito" class="col-sm-2 control-label">Fale a Respeito:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="tratamentoMedicoPsicologicoFaleARespeito" ng-model="entrevista.tratamentoMedicoPsicologicoFaleARespeito">
            </div>
        </div>

        <fieldset>
            <legend>Situação Familiar</legend>

            <div class="form-group">
                <label for="familiaDependenciaAlcoolDroga" class="col-sm-2 control-label">Houve ou há na família pessoas com dependência de álcool ou outras drogas?</label>
                <div class="radio" id="familiaDependenciaAlcoolDroga">
                    <label><input type="radio" name="familiaDependenciaAlcoolDroga" value="sim" ng-model="entrevista.familiaDependenciaAlcoolDroga">Sim</label>
                    <label><input type="radio" name="familiaDependenciaAlcoolDroga" value="nao" ng-model="entrevista.familiaDependenciaAlcoolDroga">Não</label>
                </div>
            </div>

            <div class="form-group">
                <label for="familiaDependenciaAlcoolDrogaDescreva" class="col-sm-2 control-label">Se sim, descreva:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="familiaDependenciaAlcoolDrogaDescreva" ng-model="entrevista.familiaDependenciaAlcoolDrogaDescreva">
                </div>
            </div>

            <div class="form-group">
                <label for="familiaDoencaGrave" class="col-sm-2 control-label">Houve ou há na família pessoas pessoas com alguma doença grave?</label>
                <div class="radio" id="familiaDoencaGrave">
                    <label><input type="radio" name="familiaDoencaGrave" value="sim" ng-model="entrevista.familiaDoencaGrave">Sim</label>
                    <label><input type="radio" name="familiaDoencaGrave" value="nao" ng-model="entrevista.familiaDoencaGrave">Não</label>
                </div>
            </div>

            <div class="form-group">
                <label for="familiaDoencaGraveDescreva" class="col-sm-2 control-label">Se sim, descreva:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="familiaDoencaGraveDescreva" ng-model="entrevista.familiaDoencaGraveDescreva">
                </div>
            </div>

            <div class="form-group">
                <label for="hobbie" class="col-sm-2 control-label">Quais são suas atividades de lazer, hobbies?</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="hobbie" ng-model="entrevista.hobbie">
                </div>
            </div>

            <div class="form-group">
                <label for="comoFamilia" class="col-sm-2 control-label">Fale a respeito de sua família:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="comoFamilia" ng-model="entrevista.comoFamilia">
                </div>
            </div>

            <fieldset>
                <legend>OUTRAS INFORMAÇÕES</legend>

                <div class="form-group">
                    <label class="col-sm-2"></label>
                    <div class="col-sm-6 rate" id="notaDirigirMotoristasBrasileiros">
                        <label for="notaDirigirMotoristasBrasileiros" class="form-control-label">Se você tivesse que dar uma nota de 0 (zero) a 10 (dez), que nota daria para o modo de dirigir dos motoristas brasileiros:</label>
                        <label><input type="radio" name="notaDirigirMotoristasBrasileiros" value="0" ng-model="entrevista.notaDirigirMotoristasBrasileiros">0</label>
                        <label><input type="radio" name="notaDirigirMotoristasBrasileiros" value="01" ng-model="entrevista.notaDirigirMotoristasBrasileiros">01</label>
                        <label><input type="radio" name="notaDirigirMotoristasBrasileiros" value="02" ng-model="entrevista.notaDirigirMotoristasBrasileiros">02</label>
                        <label><input type="radio" name="notaDirigirMotoristasBrasileiros" value="03" ng-model="entrevista.notaDirigirMotoristasBrasileiros">03</label>
                        <label><input type="radio" name="notaDirigirMotoristasBrasileiros" value="04" ng-model="entrevista.notaDirigirMotoristasBrasileiros">04</label>
                        <label><input type="radio" name="notaDirigirMotoristasBrasileiros" value="05" ng-model="entrevista.notaDirigirMotoristasBrasileiros">05</label>
                        <label><input type="radio" name="notaDirigirMotoristasBrasileiros" value="06" ng-model="entrevista.notaDirigirMotoristasBrasileiros">06</label>
                        <label><input type="radio" name="notaDirigirMotoristasBrasileiros" value="07" ng-model="entrevista.notaDirigirMotoristasBrasileiros">07</label>
                        <label><input type="radio" name="notaDirigirMotoristasBrasileiros" value="08" ng-model="entrevista.notaDirigirMotoristasBrasileiros">08</label>
                        <label><input type="radio" name="notaDirigirMotoristasBrasileiros" value="09" ng-model="entrevista.notaDirigirMotoristasBrasileiros">09</label>
                        <label><input type="radio" name="notaDirigirMotoristasBrasileiros" value="10" ng-model="entrevista.notaDirigirMotoristasBrasileiros">10</label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2"></label>
                    <div class="col-sm-6 rate" id="seuModoDirigir">
                        <label for="seuModoDirigir" class="form-control-label">Se você tivesse que dar uma nota de 0 (zero) a 10 (dez), que nota daria para o seu modo de dirigir, comparado com o modo dos motoristas brasileiros:</label>
                        <label><input type="radio" name="seuModoDirigir" value="0" ng-model="entrevista.seuModoDirigir">0</label>
                        <label><input type="radio" name="seuModoDirigir" value="01" ng-model="entrevista.seuModoDirigir">01</label>
                        <label><input type="radio" name="seuModoDirigir" value="02" ng-model="entrevista.seuModoDirigir">02</label>
                        <label><input type="radio" name="seuModoDirigir" value="03" ng-model="entrevista.seuModoDirigir">03</label>
                        <label><input type="radio" name="seuModoDirigir" value="04" ng-model="entrevista.seuModoDirigir">04</label>
                        <label><input type="radio" name="seuModoDirigir" value="05" ng-model="entrevista.seuModoDirigir">05</label>
                        <label><input type="radio" name="seuModoDirigir" value="06" ng-model="entrevista.seuModoDirigir">06</label>
                        <label><input type="radio" name="seuModoDirigir" value="07" ng-model="entrevista.seuModoDirigir">07</label>
                        <label><input type="radio" name="seuModoDirigir" value="08" ng-model="entrevista.seuModoDirigir">08</label>
                        <label><input type="radio" name="seuModoDirigir" value="09" ng-model="entrevista.seuModoDirigir">09</label>
                        <label><input type="radio" name="seuModoDirigir" value="10" ng-model="entrevista.seuModoDirigir">10</label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2"></label>
                    <div class="col-sm-6">
                        <label for="seuModoDirigirOpine" class="form-control-label">Comente sobre o assunto:</label>
                        <input type="text" class="form-control" id="seuModoDirigirOpine" ng-model="entrevista.seuModoDirigirOpine">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2"></label>
                    <div class="col-sm-6 rate" id="ensinoCFC">
                        <label for="ensinoCFC" class="form-control-label">Se você tivesse que dar uma nota de 0 (zero) a 10 (dez), que nota daria para o seu modo de dirigir, comparado com o modo dos motoristas brasileiros:</label>
                        <label><input type="radio" name="ensinoCFC" value="0" ng-model="entrevista.ensinoCFC">0</label>
                        <label><input type="radio" name="ensinoCFC" value="01" ng-model="entrevista.ensinoCFC">01</label>
                        <label><input type="radio" name="ensinoCFC" value="02" ng-model="entrevista.ensinoCFC">02</label>
                        <label><input type="radio" name="ensinoCFC" value="03" ng-model="entrevista.ensinoCFC">03</label>
                        <label><input type="radio" name="ensinoCFC" value="04" ng-model="entrevista.ensinoCFC">04</label>
                        <label><input type="radio" name="ensinoCFC" value="05" ng-model="entrevista.ensinoCFC">05</label>
                        <label><input type="radio" name="ensinoCFC" value="06" ng-model="entrevista.ensinoCFC">06</label>
                        <label><input type="radio" name="ensinoCFC" value="07" ng-model="entrevista.ensinoCFC">07</label>
                        <label><input type="radio" name="ensinoCFC" value="08" ng-model="entrevista.ensinoCFC">08</label>
                        <label><input type="radio" name="ensinoCFC" value="09" ng-model="entrevista.ensinoCFC">09</label>
                        <label><input type="radio" name="ensinoCFC" value="10" ng-model="entrevista.ensinoCFC">10</label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2"></label>
                    <div class="col-sm-6">
                        <label for="ensinoCFCOpine" class="form-control-label">Por quê?</label>
                        <input type="text" class="form-control" id="ensinoCFCOpine" ng-model="entrevista.ensinoCFCOpine">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2"></label>
                    <div class="col-sm-6 rate" id="examesDetran">
                        <label for="examesDetran" class="form-control-label">Se você tivesse que dar uma nota de 0 (zero) a 10 (dez), que nota daria para o seu modo de dirigir, comparado com o modo dos motoristas brasileiros:</label>
                        <label><input type="radio" name="examesDetran" value="0" ng-model="entrevista.examesDetran">0</label>
                        <label><input type="radio" name="examesDetran" value="01" ng-model="entrevista.examesDetran">01</label>
                        <label><input type="radio" name="examesDetran" value="02" ng-model="entrevista.examesDetran">02</label>
                        <label><input type="radio" name="examesDetran" value="03" ng-model="entrevista.examesDetran">03</label>
                        <label><input type="radio" name="examesDetran" value="04" ng-model="entrevista.examesDetran">04</label>
                        <label><input type="radio" name="examesDetran" value="05" ng-model="entrevista.examesDetran">05</label>
                        <label><input type="radio" name="examesDetran" value="06" ng-model="entrevista.examesDetran">06</label>
                        <label><input type="radio" name="examesDetran" value="07" ng-model="entrevista.examesDetran">07</label>
                        <label><input type="radio" name="examesDetran" value="08" ng-model="entrevista.examesDetran">08</label>
                        <label><input type="radio" name="examesDetran" value="09" ng-model="entrevista.examesDetran">09</label>
                        <label><input type="radio" name="examesDetran" value="10" ng-model="entrevista.examesDetran">10</label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2"></label>
                    <div class="col-sm-6">
                        <label for="gostaTransito" class="form-control-label">O que você MAIS gosta no trânsito? Por quê?</label>
                        <input type="text" class="form-control" id="gostaTransito" ng-model="entrevista.gostaTransito">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2"></label>
                    <div class="col-sm-6">
                        <label for="menosGostaTransito" class="form-control-label">O que você MENOS gosta no trânsito? Por quê?</label>
                        <input type="text" class="form-control" id="menosGostaTransito" ng-model="entrevista.menosGostaTransito">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2"></label>
                    <div class="col-sm-6">
                        <label for="opiniaoAcidenteTransito" class="form-control-label">Qual sua opinião sobre acidente de trânsito?</label>
                        <input type="text" class="form-control" id="opiniaoAcidenteTransito" ng-model="entrevista.opiniaoAcidenteTransito">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2"></label>
                    <div class="col-sm-6">
                        <label for="segurancaTransito" class="form-control-label">O que você acha sobre a segurança de trânsito?</label>
                        <input type="text" class="form-control" id="segurancaTransito" ng-model="entrevista.segurancaTransito">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2"></label>
                    <div class="col-sm-6">
                        <label for="medidasAcertadasSegurancaTransito" class="form-control-label">Em sua opinião, quais medidas mais acertadas estão sendo ou foram tomadas na sua cidade e/ou estado e/ou Brasil, nos últimos anos, em prol da segurança de trânsito?</label>
                        <input type="text" class="form-control" id="medidasAcertadasSegurancaTransito" ng-model="entrevista.medidasAcertadasSegurancaTransito">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2"></label>
                    <div class="col-sm-6">
                        <label for="medidasReduzirAcidentes" class="form-control-label">Se você tivesse algum poder (político/autoridade de trânsito), que medidas tomaria para reduzir os acidentes de trânsito?</label>
                        <input type="text" class="form-control" id="medidasReduzirAcidentes" ng-model="entrevista.medidasReduzirAcidentes">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2"></label>
                    <div class="col-sm-6">
                        <label for="pretendeUtilizarCNH" class="form-control-label">Como você pretende utilizar sua Carteira Nacional de Habilitação?</label>
                        <input type="text" class="form-control" id="pretendeUtilizarCNH" ng-model="entrevista.pretendeUtilizarCNH">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2"></label>
                    <div class="col-sm-6">
                        <label for="pretendeFazerMelhorarCondicoesTransito" class="form-control-label">Como motorista, o que você pretende fazer para melhorar as condições de trânsito na sua cidade/ estado?</label>
                        <input type="text" class="form-control" id="pretendeFazerMelhorarCondicoesTransito" ng-model="entrevista.pretendeFazerMelhorarCondicoesTransito">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2"></label>
                    <div class="col-sm-6">
                        <label for="informacoesImportantes" class="form-control-label">Acrescente outras informações que julgar importantes:</label>
                        <input type="text" class="form-control" id="informacoesImportantes" ng-model="entrevista.informacoesImportantes">
                    </div>
                </div>
            </fieldset>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="reset" class="btn btn-default">Limpar</button>
            <button type="button" class="btn btn-default" ng-click="salvar()">Salvar</button>
        </div>
    </div>
</form>

